<div class="container">
  <div class="row">
    <div class="col">
      <h2>管理者TOP</h2>
      <div class="row">
        <div class="col-12 col-lg-4 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-12 col-lg-12 col-md-6 col-sm-6">
              <%= render "layouts/sidebar" %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-6">
              <h2>問い合わせ一覧</h2>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th class="col-2">名前</th>
                <th class="col-4">メールアドレス</th>
                <th class="col-4">問い合わせ内容</th>
                <th class="col-2">確認状況</th>
              </tr>
            </thead>
            <tbody>
              <% @inquiries.each do |inquiry| %>
                <!--テーブル全体をリンクに変更し、カーソルを乗せた際にカーソル変化とハイライトする。-->
                <tr onclick="window.location='<%= admin_inquiry_path(inquiry) %>'" role="link" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#f0f0f0';" onmouseout="this.style.backgroundColor='';">
                  <td><%= inquiry.name %></td>
                  <td><%= inquiry.email %></td>
                  <td class="text-omission">
                    <%= inquiry.content %>
                  </td>
                  <td><%= is_active ? "未確認" : "確認済み" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>