<div class="form-group d-flex justify-content-center align-items-center">
  <%= form_with model: [:admin, company] do |f| %>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :image, "画像" %>
      </div>
      <!--custom-file-inputでファイルフィールドをカスタマイズしている。-->
      <div class="col-11 col-sm-9">
        <%= f.file_field :image, accept: "image/*", class: "custom-file-input" %>
        <%= f.label "ファイルを選択", class: "custom-file-label", "data-browse": "参照" %>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :name, "企業名" %>
      </div>
      <div class="col-11 col-sm-9">
        <%= f.text_field :name, autofocus: true, placeholder: "企業名", class: "form-control" %>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :zip_code, "郵便番号" %>
      </div>
      <div class="col-11 col-sm-9">
        <%= f.text_field :zip_code, placeholder: "半角入力(ハイフンなし)", class: "form-control" %>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :address, "住所" %>
      </div>
      <div class="col-11 col-sm-9">
        <%= f.text_field :address, placeholder: "住所", class: "form-control" %>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :telephone_number, "電話番号" %>
      </div>
      <div class="col-11 col-sm-9">
        <%= f.text_field :telephone_number, placeholder: "半角入力(ハイフンなし)", class: "form-control" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit '登録', class: "btn btn-info" %>
    </div>
  <% end %>
</div>