<!--テーブル全体にカーソル変化とハイライトし、削除以外をリンクに変更する。-->
<tr id="company-list-content_<%= company.id %>" role="link" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#f0f0f0';" onmouseout="this.style.backgroundColor='';">
  <td onclick="window.location='<%= admin_company_path(company) %>'"><%= company.name %></td>
  <td onclick="window.location='<%= admin_company_path(company) %>'"><%= company.zip_code %></td>
  <td onclick="window.location='<%= admin_company_path(company) %>'"><%= company.address %></td>
  <td onclick="window.location='<%= admin_company_path(company) %>'"><%= company.telephone_number %></td>
  <td class="text-right"><%= link_to "削除", admin_company_path(company.id), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm" %></td>
</tr>