<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>企業情報ページ</h2>
    </div>
    <div class="col-6 text-right">
      <%= link_to "企業登録", new_admin_company_path %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="col-2">企業名</th>
          <th class="col-2">郵便番号</th>
          <th class="col-6">住所</th>
          <th class="col-2">電話番号</th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each do |company| %>
          <!--テーブル全体をリンクに変更し、カーソルを乗せた際にカーソル変化とハイライトする。-->
          <tr onclick="window.location='<%= admin_company_path(company) %>'" role="link" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#f0f0f0';" onmouseout="this.style.backgroundColor='';">
            <td><%= company.name %></td>
            <td><%= company.zip_code %></td>
            <td><%= company.address %></td>
            <td><%= company.telephone_number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>