<div class="container">
  <div class="row">
    <div class="col">
      <h2>企業情報ページ</h2>
      <div class="row">
        <div class="side-content col-12 col-lg-4">
          <div class="side-content-sticky row">
            <%= render "layouts/company-table", company: @company %>
            <div class="col-11 offset-1">
              <%= link_to "企業情報編集", edit_admin_company_path(@company) %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-12">
              <h2>プラン一覧</h2>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th class="col-2">プラン名</th>
                <th class="col-2">月額料金</th>
                <th class="col-4">回線種類</th>
                <th class="col-4">対応地域</th>
              </tr>
            </thead>
            <tbody>
              <% @company.line_plans.each do |plan| %>
                <!--テーブル全体をリンクに変更し、カーソルを乗せた際にカーソル変化とハイライトする。-->
                <tr onclick="window.location='<%= admin_line_plan_path(plan) %>'" role="link" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#f0f0f0';" onmouseout="this.style.backgroundColor='';">
                  <td><%= plan.name %></td>
                  <!--application_helper.rbでフォーマットしたものを呼び出している。-->
                  <td><%= format_monthly_fee(plan.monthly_fee) %>円</td>
                  <td>
                    <!--mapでプランに紐ずく回線種類情報を取得し配列を作成、その後「,」で区切りを付けたつの文字列に連結して表示する。-->
                    <% contents = plan.contents.map(&:content).join(', ') %>
                    <%= contents %>
                  </td>
                  <td>
                    <!--mapでプランに紐ずくエリア情報を取得し配列を作成、その後「,」で区切りを付けたつの文字列に連結して表示する。-->
                    <% areas = plan.areas.map(&:area).join(', ') %>
                    <%= areas %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>