<div class="container">
  <div class="row">
    <div class="col">
      <h2>企業情報ページ</h2>
      <div class="row">
        <div class="col-12 col-lg-4 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-12 col-lg-12 col-md-6 col-sm-6">
              <%= image_tag @company.get_company_image(200,200) %>
            </div>
            <div class="col-12 col-lg-12 col-md-6 col-sm-6">
              <table class="table">
                <tbody>
                  <tr>
                    <th class="col-5 col-lg-4 col-md-4">企業名</th>
                    <td><%= @company.name %></td>
                  </tr>
                  <tr>
                    <th>郵便番号</th>
                    <td><%= @company.zip_code %></td>
                  </tr>
                  <tr>
                    <th>住所</th>
                    <td><%= @company.address %></td>
                  </tr>
                  <tr>
                    <th>電話番号</th>
                    <td><%= @company.telephone_number %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col offset-1">
              <%= link_to "企業情報編集", edit_admin_company_path(@company) %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-6">
              <h2>プラン一覧</h2>
            </div>
            <div class="col-6 text-right">
              <%= link_to "回線プラン登録",new_admin_line_plan_path %>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th class="col-sm-2">プラン名</th>
                <th class="col-sm-2"></th>
                <th class="col-sm-6"></th>
                <th class="col-sm-2"></th>
              </tr>
            </thead>
            <tbody>
              <% @company.line_plans.each do |plan| %>
                <!--テーブル全体をリンクに変更し、カーソルを乗せた際にカーソル変化とハイライトする。-->
                <tr onclick="window.location='<%= admin_line_plan_path(plan) %>'" role="link" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#f0f0f0';" onmouseout="this.style.backgroundColor='';">
                  <td><%= plan.name %></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>