<div class="container">
  <div class="row">
    <div class="col">
      <h2>会員情報</h2>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="row">
            <div class="col-12 col-lg-12 col-sm-6">
              <table class="table">
                <tbody>
                  <tr>
                    <th class="col-5 col-md-4">名前</th>
                    <td><%= @customer.name %></td>
                  </tr>
                  <tr>
                    <th>郵便番号</th>
                    <td><%= @customer.email %></td>
                  </tr>
                  <tr>
                    <th>住所</th>
                    <td><%= @customer.is_active ? "会員" : "退会" %></td>
                  </tr>
                </tbody>
              </table>
              <%= link_to "編集", edit_admin_customer_path(@customer) %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-12">
              <% @customer.reviews.each do |review| %>
                <div id="review-crad_<%= review.id %>" >
                  <%= render "admin/customers/reviews", review: review %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>