<div class="container">
  <div class="row">
    <div class="col">
      <h2>レビュー情報ページ</h2>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="row">
            <div class="col-12">
              <%= render "layouts/sidebar" %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-12">
              <h2>プラン一覧</h2>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th class="col-2">投稿日</th>
                <th class="col-2">名前</th>
                <th class="col-5">内容</th>
                <th class="col-3">評価</th>
              </tr>
            </thead>
            <tbody>
              <% @reviews.each do |review| %>
                <!--テーブル全体をリンクに変更し、カーソルを乗せた際にカーソル変化とハイライトする。-->
                <tr>
                  <td><%= review.customer.name %></td>
                  <td><%= review.created_at.strftime("%Y/%m/%d") %></td>
                  <td><%= review.content %></td>
                  <td><%= link_to "削除", admin_review_path(review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>