<div class="form-group d-flex justify-content-center align-items-center">
  <%= form_with model: [:admin, line_plan] do |f| %>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :company_id, "企業名" %>
      </div>
      <div class="col-11 col-sm-9">
        <%= f.collection_select :company_id, Company.all, :id, :name, include_blank: "選択して下さい" %>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :name, "回線プラン名" %>
      </div>
      <div class="col-11 col-sm-9">
        <%= f.text_field :name, autofocus: true, autocomplete: "プラン名", class: "form-control" %>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :monthly_fee, "月額料金" %>
      </div>
      <div class="col-11 col-sm-9">
        <%= f.text_field :monthly_fee, autocomplete: "月額料金", class: "form-control" %>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :introduction, "プラン内容" %>
      </div>
      <div class="col-11 col-sm-9">
        <%= f.text_area :introduction, autocomplete: "内容入力", class: "form-control" %>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :area, "エリア" %>
      </div>
      <div class="col-11 col-sm-9">
        <div class="row">
          <% Area.all.each do |area| %>
            <div class="col-6">
              <!--チェックボックスの中身をarea_idsのname属性を付け、[]を付けることで配列として、チェックされたcontent.idを入れ、フォームデータで送る。-->
              <%= check_box_tag 'area_ids[]', area.id %>
              <!--もし列ではなくエリア一覧で表示したい為、ダブルクォーテーションを使用している。-->
              <%= label_tag "area_ids_#{area.area}", area.area %><br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-3">
        <%= f.label :content, "回線" %>
      </div>
      <div class="col-11 col-sm-9">
        <div class="row">
          <% Content.all.each do |content| %>
            <div class="col-12">
              <!--チェックボックスの中身をcontent_idsのname属性を付け、[]を付けることで配列として、チェックされたcontent.idを入れ、フォームデータで送る。-->
              <%= check_box_tag 'content_ids[]', content.id %>
              <!--もし列ではなくコンテンツ一覧で表示したい為、ダブルクォーテーションを使用している。-->
              <%= label_tag "content_ids_#{content.content}", content.content %><br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit '登録' %>
    </div>
  <% end %>
</div>