<% if customer_signed_in?  %>
  <%= form_with model: [line_plan, review], url: line_plan_reviews_path(line_plan), method: :post do |f| %>
    <!--Raty設定用記述。-->
    <div class="form-group" id="star">
      <div class="form-row align-items-center">
        <div class="col-1 text-center">
          <%= f.label :star, "評価" %>
        </div>
        <div class="col-3">
          <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
          <div id="post_raty"></div>
        </div>
      </div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[star]',
        };
        raty(elem, opt);
      });
    </script>
    <%= f.text_area :content, rows: '5', placeholder: "内容を入力してください。", class:"w-100" %><br/>
    <%= f.submit "送信", class:"mb-3" %>
  <% end %>
<% end %>
<% line_plan.reviews.each do |l| %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="card-title h5">
        <%= l.customer.name %> 様
      </div>
      <div class="card-text">
        <%= render "layouts/static.rate", evaluation: l %>
        <p class="px-2">
          <%= l.content %>
        </p>
      </div>
      <div class="text-right">
        投稿日 <%= l.created_at.strftime('%Y/%m/%d') %>
        <% if customer_signed_in? && current_customer == l.customer %>
          <%= link_to line_plan_review_path(l.line_plan, l), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm" do %>コメントを削除<% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>