<div class="container">
  <div class="row">
    <div class="col">
      <h3>ご希望のプランはこちら</h3>
      <% if @areas.present? || @contents.present? || @line_plans.present? %>
        <div class="row row-cols-1 row-cols-lg-2">
          <!--areaで絞り込みを行なったものをeach。-->
          <% @areas.each do |area| %>
            <!--areaを持っているline_planをeach。-->
            <% area.line_plans.each do |line_plan| %>
              <!--テーブル全体をリンクに変更し、カーソルを乗せた際にカーソル変化とハイライトする。-->
              <div class="col mb-3" onclick="window.location='<%= line_plan_path(line_plan) %>'" role="link">
                <%= render "layouts/line_plan-card", line_plan: line_plan %>
              </div>
            <% end %>
          <% end %>
          <!--contentで絞り込みを行なったものをeach。-->
          <% @contents.each do |content| %>
            <!--contentを持っているline_planをeach。-->
            <% content.line_plans.each do |line_plan| %>
              <!--テーブル全体をリンクに変更し、カーソルを乗せた際にカーソル変化とハイライトする。-->
              <div class="col mb-3" onclick="window.location='<%= line_plan_path(line_plan) %>'" role="link">
                <%= render "layouts/line_plan-card", line_plan: line_plan %>
              </div>
            <% end %>
          <% end %>
          <% @line_plans.each do |line_plan| %>
            <!--テーブル全体をリンクに変更し、カーソルを乗せた際にカーソル変化とハイライトする。-->
            <div class="col mb-3" onclick="window.location='<%= line_plan_path(line_plan) %>'" role="link">
              <%= render "layouts/line_plan-card", line_plan: line_plan %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>現在、ご希望すべてを満たしたプランはございません。</p>
      <% end %>
    </div>
  </div>
</div>