<div class="container">
  <div class="row">
    <div class="col">
      <h2>回線会社一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th class="col-2">企業名</th>
            <th class="col-2">郵便番号</th>
            <th class="col-6">住所</th>
            <th class="col-2">電話番号</th>
          </tr>
        </thead>
        <tbody>
          <% @companies.each do |company| %>
            <!--テーブル全体をリンクに変更し、カーソルを乗せた際にカーソル変化とハイライトする。-->
            <tr onclick="window.location='<%= company_path(company) %>'" role="link" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#f0f0f0';" onmouseout="this.style.backgroundColor='';">
              <td><%= company.name %></td>
              <!--application_helper.rbでフォーマットしたものを呼び出している。-->
              <td>〒<%= format_zip_code(company.zip_code) %></td>
              <td><%= company.address %></td>
              <!--application_helper.rbでフォーマットしたものを呼び出している。-->
              <td><%= format_telephone_number(company.telephone_number) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>